<div class="container">

<form action ="/cool_url" method ="post">
  <h1>POST FORM</h1>
  <input type = "text" name ="user_input" / >
  <input type ="submit" / >
</form>

<form action = "/cool_url" method = "get">
  <h1>GET FORM</h1>
  <input type ="text" name ="post[input]" / >
  <br/><br/><br/>
  <textarea name="post[text]">
  </textarea><br/><br/>
  <input type ="submit" / >
</form>


</div>
